/*
Cover page CSS
*/
.cover {
    padding: 0 20px;
    text-align: center;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cover-heading {
    /*
    In case anything needs to be done with cover-heading
    */
}

@media (min-width: 768px) {
    .cover-container {
        width: 100%;
    }
}

@media (mid-width: 992px) {
    .cover-container {
        width: 700px;
    }
}
