{% extends "general.html" %}

{% block title %}
    About 
{% endblock %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block contentBody %}
        <section>
            <div class="media">
                
                <div class="media-body">
                    <p>Hi! I</p>
                </div>
                
                <div class="media-right media-middle">
                    <img src="{{ url_for('static', filename='img/nate.png') }}" height="300px" width="300px" alt="Picture of Nathaniel Quan" class="media-object selfie"/>
                </div>
            
            </div><!--./media-->
        </section>

        <section>
            <h2> Education </h2>
            <div class="title">University of Hawaii at Hilo</div>
            <span class="italics">Bachelor of Science, Computer Science, 2014</span></p>
            
            <p class="bold"> Coursework </p>
            <ul class="two-col">
                <li>Software Engineering</li>
                <li>Compiler Theory</li>
                <li>Operating Systems</li>
                <li>Theory of Computing</li>
                <li>Computer Architecture</li>
                <li>Artificial Intelligence</li>
                <li>Database Internals</li>
                <li>Database Systems</li>
                <li>Organization of Programming Languages</li>
            </ul>
        </section>        
    
        <section>
            <h2> Volunteer </h2>
            <div class="title"> Pinole Middle School Math Club, Asst. Coach </div>
            <p class="desc">When I was volunteering as a tutor and assistant coach for the 
            Pinole Math Club, I helped co-found a Math 24 tournament for the 
            12+ club members. During the tournament, the club members competed 
            to solve Math 24 cards, where four numbers are given and any 
            combination basic arithmetic operations to result in 24. During that 
            tournament, in the last minutes of each round, the hardest cards were 
            given that they couldn’t solve in time. I decided to create this 
            solver to help quickly provide them with an answer.</p>
        </section>
{% endblock %}
