{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
{% endblock %}

{% block content %}
    <div class="content-body">
        <div class="page-header center">
            <h1>{{ pageHeader }} <small> {{headerSubtext }} </small></h1>
        </div>

        {% block contentBody %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <div class="container">
        <a href="https://www.linkedin.com/in/nathanielquan"><svg class="icon"><use xlink:href="#LinkedIn" /></svg></a>
        <a href="https://github.com/nate-"><svg class="icon"><use xlink:href="#Github" /></svg></a>
        <a href="mailto:nnq@hawaii.edu"><svg class="icon"><use xlink:href="#e-mail" /></svg></a>
    </div>
{% endblock %}