{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}">
{% endblock %}

{% block content %}
    <div class="cover-container">
        <div class="cover">
            <h1 class="cover-heading">{ Nathaniel Quan :<br class="break-sm" /> Software Engineer }</h1>
            <div class="lead">
                <a href="{{ url_for('about') }}" class="btn btn-default">Who I am</a>
                <a href="{{ url_for('resume') }}" class="btn btn-default">Work Experience</a>
                <a href="{{ url_for('contact') }}" class="btn btn-default">Connect with me</a>
            </div>
        </div>
    </div>
{% endblock %}
