{% extends "general.html" %}

{% block title %}
    Projects
{% endblock %}

{% block css %}
    {{ super() }}
{% endblock %}


{% block contentBody %}
    {% for i in proj %}
        <section>
        <span class="bold">{{ i.name }}</span>
        <span class="italics"><a href="{{ i.link }}">&nbsp;(Code)&nbsp;</a></span><br/>
        {{ i.desc }} <br/>
            {% for tag in i.tags %}
            <span class="label label-default">{{ tag }}</span>
            {% endfor %}
        </section>
    {% endfor %}
        
{% endblock %}
