{% extends "general.html" %}

{% block title %}
    Projects
{% endblock %}

{% block css %}
    {{ super() }}
{% endblock %}


{% block contentBody %}
    {% for i in proj %}
        <div class="row row-eq-height pad-top">
            <div class="col-md-4">
            <span class="bold">{{ i.name }}</span><br/>
            <span class="italics">(<a href="{{ i.link }}">Source Code</a>)</span>
            <br/><br/>
            </div>
        
            <div class="col-md-8">
                {{ i.desc }} <br/>
                {% for tag in i.tags %}
                <span class="label label-default">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
        
{% endblock %}
