{% extends "general.html" %}

{% block title %}
    Resume
{% endblock %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="content-body">
        <h1 class="center"> Work Experience </h1>
        {% for i in exp %}
            <div class="row row-eq-height">
                <div class="col-md-4">
                     <img src="{{ url_for('static', filename='img/'+i.logo) }}" alt="{{ i.company }} logo" class="img-responsive logo">
                </div><!--./col-md-4-->
                <div class="col-md-8">
                    <span class="bold"> Company: {{ i.company }} </span><br/>
                    <span class="italics"> Position: {{ i.position }} </span><br/>
                    {% for paragraph in i.desc %}
                        <p>Desc: {{ paragraph }}</p>
                    {% endfor %}
                    <ul class = "tags">
                        {% for techs in i.techs %}
                        <li>{{ techs }}</li>
                        {% endfor %}
                    </ul>
                </div><!--./col-md-8-->
            </div><!--./row-->
        {% endfor %}
        </section>
    </div>
{% endblock %}
