{% extends "general.html" %}

{% block title %}
    Resume
{% endblock %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block contentBody %}

    <div>
    {% for i in exp %}
        <div class="row row-eq-height pad-top">
            <div class="col-md-4 center">
                <img src="{{ url_for('static', filename='img/'+i.logo) }}" alt="{{ i.company }} logo" class="img-responsive logo">
                <span class="bold">{{ i.company }}</span><br/>
                <span class="italics">{{ i.position }}</span><br/><br/>              
            </div><!--./col-md-4-->
            <div class="col-md-8">
                {% for paragraph in i.desc %}
                    <p>{{ paragraph }}</p>
                {% endfor %}
                
                {% for techs in i.techs %}
                <span class="label label-default">{{ techs }}</span>
                {% endfor %}
            </div><!--./col-md-8-->
        </div><!--./row-->
    {% endfor %}
    </div>
{% endblock %}
